*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f0f0f0 ;
}
html, body {
    height: 100%;
    margin: 0;
}

.app{
    max-width: 375px;
    height: 640px;      
    margin: 20px auto;
    background: #E5E5E9;
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.app::-webkit-scrollbar{
    display: none;
}

.app-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 56px;   
}

.bottom-nav {
    flex-shrink: 0;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    background: #E5E5E9;
}

.top-bar-right{
    display: flex;
    gap: 14px;
    align-items: center;
}

.logo-text{
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
}

.icon-box{
    width: 32px;
    height: 32px;
    background: #E5E5E9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.icon-box img{
    width: 28px;
    height: 28px;
}



.stories{
    display: flex;
    gap: 12px;
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    overflow-x: auto;
    background: #E5E5E9;
}

.top-bar,
.stories,
.bottom-nav {
    flex-shrink: 0;
}


.story{
    min-width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.story-avatar-wrap{
    padding: 3px;
    border-radius: 50%;
    background: linear-gradient(135deg,#f58529, #dd2a7b , #8134af);
}
.story-avatar{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
    background: #ccc;
}

.story-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-name{
    font-size : 11px;
    color: #666;

}

.post{
    background : #fff;
    border-bottom: 1px solid #eee;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    margin-top: 8px;
}

.post-user{
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background:#ddd ;
}

.post-user-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-user-info{
    display: flex;
    flex-direction: column;
}

.post-username{
    font-size: 14px;
    font-weight: 600;
}

.post-location{
    font-size: 11px;
    color: #888;
}

.post-more{
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
     padding-bottom: 10px ;
}

.post-image{
    width: 100%;
    overflow: hidden;
}

.post-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


.post-actions {                     
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
}

.post-like {
    margin-bottom: 15px;
}

.post-actions-left {
    display: flex;
    align-items: center;
    gap: 8px;
}


.post-actions-right {
    display: flex;
}


.post-action-btn {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;  
    padding: 6px;
}




.post-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 12px 10px;
}


.post-likes {
    font-size: 13px;
    font-weight: 600;
}


.post-caption {
    font-size: 13px;
}


.post-caption strong {
    margin-right: 4px;
}


.post-time {
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    margin-left: 12px;
    margin-bottom: 10px;
    
}



.bottom-nav {
    height: 56px;
    border-top: 1px solid #eee;
    position: sticky;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    margin: 0 !important;        
    padding: 0 !important;       
}




.bottom-nav-item{
    border: none;
    background: transparent;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav-item .heart{
    width: 32px;
    height: 32px;
}


.bottom-nav-item img{
    width: 22px;
    height: 22px;
    object-fit: contain;
    display: block;
    background: none !important;
    border: none !important;
}

.bottom-nav-item.is-active img{
    transform: scale(1.1);
}
.profile-header{
    padding: 16px;
    background: white;
}



.profile-info{
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-stats{
    display: flex;
    gap: 24px;
}
.stat{
    text-align: center;
    font-size: 14px;
}
.profile-name{
    margin-top: 10px;
    font-weight: 500;
}
.profile-bio{
    font-size: 14px;
    line-height: 18px;
    margin: 6px 0px 12px;
}

.profile-edit-btn{
    width: 100%;
    padding: 8px 0px;
    border: 1px solid rgb(37, 32, 32);
    border-image: initial;
    background: white;
    border-radius: 8px;
}

.profile-tabs {
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 12px;
}

.profile-tabs .tab {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    background: white;
    border: none;
    cursor: pointer;
}

.profile-tabs .tab.active {
    border-bottom: 2px solid black;
    font-weight: bold;

}

.profile-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow-y: auto;
}

.profile-grid::-webkit-scrollbar{
    display: none;
}

.profile-grid img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.search-header{
    border-bottom: 1px solid rgb(238, 238, 238) ;
    background: rgb(255, 255, 255);
    padding: 12px 16px 8px;
    border-radius: 0 0 25px 25px;
}
.search-input-wrap{
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgb(242, 242, 242);
    border-radius: 10px;
    padding: 6px 10px;
}

.search-icon img {
    width: 16px;
    height: 16px;
}

.search-input{
    width: 100%;
    font-size: 14px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    outline: none;
    background: transparent;
}

.search-chips{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    gap: 24px;
    margin-right: 20px;
}

.search-chip{
    width: 100%;
    border-radius: 21px;
    padding: 10px;
    border-style: none;
    background: #fff;
    font-weight: bolder;
}

.search-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 10px;
    grid-auto-rows: 120px;
    margin-left: 21px;
    margin-right: 21px;
}

.search-grid > img:nth-child(3n+1) {
    grid-row: span 2;
    border-radius: 16px 0 0 16px;
}

.search-grid > img:nth-child(3n+2)  {
    border-radius: 0 16px 16px 0;
}

.search-grid > img:nth-child(3n+3)  {
    border-radius: 0 16px 16px 0;
}


.search-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.like-btn input {
    display: none; 
}

.like-btn {
    cursor: pointer;
}

.like-btn input:checked + .heart-icon {
    filter: invert(23%) sepia(98%) saturate(6465%) hue-rotate(0deg) brightness(98%) contrast(109%);
}

.heart-icon {
    width: 24px;
    height: 24px;
    transition: 0.2s ease;
}